
@main("Productos") {

    
    
    
    <div ng-app="myApp" ng-controller="ProductoCtrl as vm">
         <h2>Productos</h2>
        <input ng-model="vm.producto.nombre" placeholder="Nombre" type="text" name="nombre"/>
        <input ng-model="vm.producto.descripcion" placeholder="Descripci&oacute;n" type="text" name="descripcion"/>

        <button ng-click="vm.addProducto()" ng-show="vm.modo=='normal'">Crear</button>    
        <button ng-click="vm.updateProducto()" ng-show="vm.modo=='edit'">Guardar</button>
        <button ng-click="vm.cancelarProducto()" ng-show="vm.modo=='edit'">Cancelar</button>
        
        <table>
            <tr>
                <td>
                    <h3>Insumos Escogidos</h3>
                    <table>
                        <tr ng-repeat="insProd in vm.producto.insumos">
                          <td>{{ insProd.nombre }}</td>
                          <td>
                            <button ng-click="vm.deleteInsumoProducto(insProd)">
                                -
                            </button>
                          </td>
                        </tr>
                    </table>
                </td>
              <td>
                  <h3>Insumos Disponibles</h3>
                  <table>
                    <tr ng-repeat="insumo in vm.insumos">
                      <td>{{ insumo.nombre }}</td>
                      <td>
                        <button ng-click="vm.addInsumoProducto(insumo)">
                            +
                        </button>
                      </td>
                    </tr>
                </table>
              </td>
            </tr>
        </table>
        
        
        <br>
    
        <h3>Lista de Productos</h3>
        <table>
            <tr>
              <td>Nombre</td>
              <td>Descripci&oacute;n</td>
            </tr>
            
            <tr ng-repeat="prod in vm.productos">
              <td>{{ prod.nombre }}</td>
              <td>{{ prod.descripcion }}</td>
              <td>
                <button ng-click="vm.deleteProducto(prod)">
                    X
                </button>
                  <button ng-click="vm.editProducto(prod)">
                    E
                </button>
              </td>
            </tr>
          </table>
      </div>

}
